.search__shortfilm-text {
  padding: 0;
  position: absolute;
  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .search__shortfilm-text {
    position: relative;

    margin-right: 16px;
  }
}

@media screen and (max-width: 400px) {
  .search__shortfilm-text {
    font-size: 11px;
    line-height: 18px;
    margin: 0 13px 0 0;
  }
}
