.button_main {
  margin: 0;
  padding: 11px 20px 9px 20px;
  box-sizing: border-box;

  width: 320px;
  height: 36px;

  background-color: var(--color-content-bg);
  border: 1px solid var(--color-content-footer);

  font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  text-align: center;

  align-content: center;

  border-radius: 3px;
}

@media screen and (max-width: 400px) {
  .button_main {
    width: 240px;
  }
}
