.button_delete {
  height: 21px;
  width: 21px;
  border-radius: 30px;

  background-color: #ff3055;
  background-image: url("../../../images/icon_saved.svg");

  background-position: center center;
  background-repeat: no-repeat;

  border: 0;

  position: absolute;
  top: 14px;
  right: 14px;
}

.button_delete:hover {
  background-image: url("../../../images/icon_delete.svg");
  background-color: #f9f9f9;
}

.button_delete:focus {
  outline: none;
}
@media screen and (max-width: 400px) {
  .button_delete {
    top: 10px;
    right: 10px;
  }
}
