.about__item {
  margin: 0;
  padding: 0 20px 0 0;
}

.about__item:last-child {
  padding: 0 0 0 20px;
}

@media screen and (max-width: 768px) {
  .about__item {
    padding: 0 15px 0 0;
  }

  .about__item:last-child {
    padding: 0 0 0 15px;
  }
}

@media screen and (max-width: 400px) {
  .about__item {
    padding: 0 0 56px 0;
  }

  .about__item:last-child {
    padding: 0;
  }
}
