.footernav__links-items_style_disabled {

    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
    color: var(--color-content-grey);
    opacity: .3;
}
