.films {
  margin: 0 auto;
  padding: 70px 70px 26px 70px;
  max-width: 1280px;

  box-sizing: border-box;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .films {
    padding: 70px 30px 10px 30px;
  }
}

@media screen and (max-width: 320px) {
  .films {
    padding: 40px 10px 10px 10px;
  }
}
